<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginExample</display-name>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>come2niks.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addsteward</display-name>
    <servlet-name>Addsteward</servlet-name>
    <servlet-class>com.imperial.steward.Addsteward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addsteward</servlet-name>
    <url-pattern>/Addsteward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dbconnection</display-name>
    <servlet-name>Dbconnection</servlet-name>
    <servlet-class>com.imperial.db.Dbconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dbconnection</servlet-name>
    <url-pattern>/Dbconnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kit</display-name>
    <servlet-name>kit</servlet-name>
    <servlet-class>com.servlet.explore.kit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kit</servlet-name>
    <url-pattern>/kit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authentication</display-name>
    <servlet-name>authentication</servlet-name>
    <servlet-class>com.authentication.imperial.authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authentication</servlet-name>
    <url-pattern>/authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewsteward</display-name>
    <servlet-name>viewsteward</servlet-name>
    <servlet-class>com.view.steward.viewsteward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewsteward</servlet-name>
    <url-pattern>/viewsteward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewkitchenmanager</display-name>
    <servlet-name>viewkitchenmanager</servlet-name>
    <servlet-class>com.viewkitchenmanager.viewkitchenmanager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewkitchenmanager</servlet-name>
    <url-pattern>/viewkitchenmanager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addkitchenmanager</display-name>
    <servlet-name>addkitchenmanager</servlet-name>
    <servlet-class>com.addkitchenmanager.addkitchenmanager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addkitchenmanager</servlet-name>
    <url-pattern>/addkitchenmanager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewsales</display-name>
    <servlet-name>viewsales</servlet-name>
    <servlet-class>com.viewsales.viewsales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewsales</servlet-name>
    <url-pattern>/viewsales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewfeedback</display-name>
    <servlet-name>viewfeedback</servlet-name>
    <servlet-class>com.viewfeedback.viewfeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewfeedback</servlet-name>
    <url-pattern>/viewfeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submenu</display-name>
    <servlet-name>submenu</servlet-name>
    <servlet-class>com.submenu.submenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submenu</servlet-name>
    <url-pattern>/submenu</url-pattern>
  </servlet-mapping>
</web-app>